@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import './components/image-comparison.css';
@import './mobile.css';

.portfolio-background {
  width: 100vw;
  height: 300vh;
  position: relative;
}

.big-text {
  font-family: 'Anton', sans-serif;
  font-size: 8vw;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

.typing-smooth {
  display: inline-block;
  white-space: pre-line;        
  font-variant-ligatures: none; 
}

.portfolio-header {
  width: 45vw;
  height: 100vh;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 2.5vw;
  display: flex;
  align-items: center;
}

.second-portfolio-header {
  width: 45vw;
  height: 100vh;
  margin-top: 0;
  position: absolute;
  top: 100vh;
  right: 2.5vw;
  display: flex;
  align-items: center;
}

.third-portfolio-header {
    width: 45vw;
    height: 100vh;
    margin-top: 0;
    position: absolute;
    top: 200vh;
    left: 2.5vw;
    display: flex;
    align-items: center;
}

.react-type-animation-cursor {
  font-weight: 100;
  font-size: 0.9em;
  border-right: 1px solid #222;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}